* text=auto !eol
/CHANGELOG.TXT -text
/LICENSE.TXT -text
/README.TXT -text
build/cmake/CMakeLists.txt -text
build/cmake/doxygen/NaviPOWM.dox -text
build/mingw-qt/NaviPOWM.mdsp -text
build/mingw-qt/NaviPOWM.rc -text
build/mingw-qt/doxygen/NaviPOWM.dox -text
build/mingw/NaviPOWM.mdsp -text
build/mingw/NaviPOWM.rc -text
build/mingw/doxygen/NaviPOWM.dox -text
build/mingw/resource.h -text
build/qmake/NaviPOWM.pro -text
build/qmake/doxygen/NaviPOWM.dox -text
build/visualstudio6/NaviPOWM.dsp -text
build/visualstudio6/NaviPOWM.dsw -text
build/visualstudio6/NaviPOWM.rc -text
build/visualstudio6/doxygen/NaviPOWM.dox -text
build/visualstudio6/resource.h -text
build/wm2003se/NaviPOWM.rc -text
build/wm2003se/NaviPOWM.vcp -text
build/wm2003se/NaviPOWM.vcw -text
build/wm2003se/doxygen/NaviPOWM.dox -text
build/wm2003se/resource.h -text
build/wm5/NaviPOWM.rc -text
build/wm5/NaviPOWM.vcp -text
build/wm5/NaviPOWM.vcw -text
build/wm5/doxygen/NaviPOWM.dox -text
build/wm5/resource.h -text
common/Config/navipowm.ini -text
common/Demo/E007N50.map -text
common/Demo/demo01.txt -text
common/Images/Icons20x20.xcf -text
common/Images/MainIcon.ico -text
common/Images/NaviPOWM.xcf -text
common/Images/Zoom.xcf -text
common/Images/currentpos.bmp -text
common/Images/info.bmp -text
common/Images/logo.bmp -text
common/Images/logosmall.bmp -text
common/Images/minimize.bmp -text
common/Images/move.bmp -text
common/Images/places.bmp -text
common/Images/places.xcf -text
common/Images/poi.xcf -text
common/Images/poi00.bmp -text
common/Images/quit.bmp -text
common/Images/saveoff.bmp -text
common/Images/saveon.bmp -text
common/Images/target.bmp -text
common/Images/target.xcf -text
common/Images/zoomin.bmp -text
common/Images/zoomout.bmp -text
install/mingw-all/NaviPOWM.nsi -text
install/mingw-all/README.TXT -text
install/windowsmobile-all/DELETEME.TXT -text
install/windowsmobile-all/InstReadMe.txt -text
install/windowsmobile-all/NaviPOWM.inf -text
install/windowsmobile-all/NaviPOWM.ini -text
install/windowsmobile-all/README.TXT -text
install/windowsmobile-all/makeWM2003SE.bat -text
install/windowsmobile-all/makeWM5.bat -text
install/windowsmobile-all/updateWM2003SE.bat -text
install/windowsmobile-all/updateWM5.bat -text
src/common/CXArea.cpp -text
src/common/CXArea.hpp -text
src/common/CXAreaColorHolder.cpp -text
src/common/CXAreaColorHolder.hpp -text
src/common/CXArray.hpp -text
src/common/CXBuffer.hpp -text
src/common/CXCache.hpp -text
src/common/CXCoor.cpp -text
src/common/CXCoor.hpp -text
src/common/CXDebugInfo.cpp -text
src/common/CXDebugInfo.hpp -text
src/common/CXDirection.cpp -text
src/common/CXDirection.hpp -text
src/common/CXFile.cpp -text
src/common/CXFile.hpp -text
src/common/CXFileIni.cpp -text
src/common/CXFileIni.hpp -text
src/common/CXGPSCourseInfo.cpp -text
src/common/CXGPSCourseInfo.hpp -text
src/common/CXGPSInputChannel.cpp -text
src/common/CXGPSInputChannel.hpp -text
src/common/CXGPSInputChannelFile.cpp -text
src/common/CXGPSInputChannelFile.hpp -text
src/common/CXGPSInputChannelGPSD.cpp -text
src/common/CXGPSInputChannelGPSD.hpp -text
src/common/CXGPSInputChannelSerial.cpp -text
src/common/CXGPSInputChannelSerial.hpp -text
src/common/CXGPSPosInfo.cpp -text
src/common/CXGPSPosInfo.hpp -text
src/common/CXGPSProtocol.cpp -text
src/common/CXGPSProtocol.hpp -text
src/common/CXGPSProtocolGPSD.cpp -text
src/common/CXGPSProtocolGPSD.hpp -text
src/common/CXGPSProtocolNMEA.cpp -text
src/common/CXGPSProtocolNMEA.hpp -text
src/common/CXGPSQualityInfo.cpp -text
src/common/CXGPSQualityInfo.hpp -text
src/common/CXGPSRecvThread.cpp -text
src/common/CXGPSRecvThread.hpp -text
src/common/CXHysterezis.hpp -text
src/common/CXInfoBar.cpp -text
src/common/CXInfoBar.hpp -text
src/common/CXInfoBarBottom.cpp -text
src/common/CXInfoBarBottom.hpp -text
src/common/CXInfoBarCommon.cpp -text
src/common/CXInfoBarCommon.hpp -text
src/common/CXInfoBarRouting.cpp -text
src/common/CXInfoBarRouting.hpp -text
src/common/CXInfoBarSpeed.cpp -text
src/common/CXInfoBarSpeed.hpp -text
src/common/CXInfoBarTop.cpp -text
src/common/CXInfoBarTop.hpp -text
src/common/CXKeyVal.hpp -text
src/common/CXLocatorThread.cpp -text
src/common/CXLocatorThread.hpp -text
src/common/CXLoopThread.cpp -text
src/common/CXLoopThread.hpp -text
src/common/CXMapContainer.cpp -text
src/common/CXMapContainer.hpp -text
src/common/CXMapHashSimple.hpp -text
src/common/CXMapLoaderThread.cpp -text
src/common/CXMapLoaderThread.hpp -text
src/common/CXMapMovingDetails.cpp -text
src/common/CXMapMovingDetails.hpp -text
src/common/CXMapPainter.cpp -text
src/common/CXMapPainter.hpp -text
src/common/CXMapPainter2D.cpp -text
src/common/CXMapPainter2D.hpp -text
src/common/CXMapPainterDoubleBuffered.cpp -text
src/common/CXMapPainterDoubleBuffered.hpp -text
src/common/CXMapPainterTest.cpp -text
src/common/CXMapPainterTest.hpp -text
src/common/CXMapPainterThread.cpp -text
src/common/CXMapPainterThread.hpp -text
src/common/CXMapSection.cpp -text
src/common/CXMapSection.hpp -text
src/common/CXMapSimple.hpp -text
src/common/CXMapSort.hpp -text
src/common/CXMutexLocker.cpp -text
src/common/CXMutexLocker.hpp -text
src/common/CXNMEA.cpp -text
src/common/CXNMEA.hpp -text
src/common/CXNaviData.cpp -text
src/common/CXNaviData.hpp -text
src/common/CXNaviPOWM.cpp -text
src/common/CXNaviPOWM.hpp -text
src/common/CXNode.cpp -text
src/common/CXNode.hpp -text
src/common/CXOptions.cpp -text
src/common/CXOptions.hpp -text
src/common/CXPOIVisibilityDescriptor.cpp -text
src/common/CXPOIVisibilityDescriptor.hpp -text
src/common/CXPOWMMap.cpp -text
src/common/CXPOWMMap.hpp -text
src/common/CXPen.cpp -text
src/common/CXPen.hpp -text
src/common/CXPenHolder.cpp -text
src/common/CXPenHolder.hpp -text
src/common/CXRGB.cpp -text
src/common/CXRGB.hpp -text
src/common/CXReadLocker.cpp -text
src/common/CXReadLocker.hpp -text
src/common/CXRect.hpp -text
src/common/CXSatelliteData.cpp -text
src/common/CXSatelliteData.hpp -text
src/common/CXSaver.cpp -text
src/common/CXSaver.hpp -text
src/common/CXSaverGPX.cpp -text
src/common/CXSaverGPX.hpp -text
src/common/CXSaverRaw.cpp -text
src/common/CXSaverRaw.hpp -text
src/common/CXSmartPtr.hpp -text
src/common/CXSpeedCalculator.cpp -text
src/common/CXSpeedCalculator.hpp -text
src/common/CXStringASCII.cpp -text
src/common/CXStringASCII.hpp -text
src/common/CXStringUTF8.cpp -text
src/common/CXStringUTF8.hpp -text
src/common/CXTarget.cpp -text
src/common/CXTarget.hpp -text
src/common/CXTimeStampData.hpp -text
src/common/CXTrackLog.cpp -text
src/common/CXTrackLog.hpp -text
src/common/CXTransformationMatrix.cpp -text
src/common/CXTransformationMatrix.hpp -text
src/common/CXUTCTime.cpp -text
src/common/CXUTCTime.hpp -text
src/common/CXUTMCoor.cpp -text
src/common/CXUTMCoor.hpp -text
src/common/CXUTMSpeed.cpp -text
src/common/CXUTMSpeed.hpp -text
src/common/CXWatchdogThread.cpp -text
src/common/CXWatchdogThread.hpp -text
src/common/CXWay.cpp -text
src/common/CXWay.hpp -text
src/common/CXWriteLocker.cpp -text
src/common/CXWriteLocker.hpp -text
src/common/CoordConstants.h -text
src/common/CoordConversion.cpp -text
src/common/CoordConversion.h -text
src/common/IBitmap.cpp -text
src/common/IBitmap.hpp -text
src/common/IDeviceContext.hpp -text
src/common/IExactTime.hpp -text
src/common/IGPSDClient.cpp -text
src/common/IGPSDClient.hpp -text
src/common/IMainWindow.cpp -text
src/common/IMainWindow.hpp -text
src/common/IMutex.hpp -text
src/common/IRWLock.hpp -text
src/common/ISemaphore.cpp -text
src/common/ISemaphore.hpp -text
src/common/ISerial.cpp -text
src/common/ISerial.hpp -text
src/common/IThread.cpp -text
src/common/IThread.hpp -text
src/common/IWindow.hpp -text
src/common/IWorkRequestThread.cpp -text
src/common/IWorkRequestThread.hpp -text
src/common/Utils.cpp -text
src/common/Utils.hpp -text
src/linux/CXGPSDClient.hpp -text
src/linux/CXGPSDClient3.cpp -text
src/linux/CXGPSDClient3.hpp -text
src/linux/CXGPSDClient4.cpp -text
src/linux/CXGPSDClient4.hpp -text
src/linux/CXGPSDClientBase.cpp -text
src/linux/CXGPSDClientBase.hpp -text
src/linux/CXGPSDClientNoVersion.cpp -text
src/linux/CXGPSDClientNoVersion.hpp -text
src/linux/CXSerial.cpp -text
src/linux/CXSerial.hpp -text
src/linux/OSSpecific.cpp -text
src/linux/OSSpecific.hpp -text
src/qt/CXBitmap.cpp -text
src/qt/CXBitmap.hpp -text
src/qt/CXDeviceContext.cpp -text
src/qt/CXDeviceContext.hpp -text
src/qt/CXExactTime.cpp -text
src/qt/CXExactTime.hpp -text
src/qt/CXMainWindow.cpp -text
src/qt/CXMainWindow.hpp -text
src/qt/CXMutex.cpp -text
src/qt/CXMutex.hpp -text
src/qt/CXRWLock.cpp -text
src/qt/CXRWLock.hpp -text
src/qt/CXSemaphore.cpp -text
src/qt/CXSemaphore.hpp -text
src/qt/CXThread.cpp -text
src/qt/CXThread.hpp -text
src/qt/CXWindow.cpp -text
src/qt/CXWindow.hpp -text
src/qt/CXWorkRequestThread.cpp -text
src/qt/CXWorkRequestThread.hpp -text
src/qt/Main.cpp -text
src/qt/TargetIncludes.cpp -text
src/qt/TargetIncludes.hpp -text
src/windows/common/CXGPSDClient.cpp -text
src/windows/common/CXGPSDClient.hpp -text
src/windows/common/CXSerial.cpp -text
src/windows/common/CXSerial.hpp -text
src/windows/common/OSSpecific.cpp -text
src/windows/common/OSSpecific.hpp -text
src/windows/native/CXBitmap.cpp -text
src/windows/native/CXBitmap.hpp -text
src/windows/native/CXDeviceContext.cpp -text
src/windows/native/CXDeviceContext.hpp -text
src/windows/native/CXExactTime.cpp -text
src/windows/native/CXExactTime.hpp -text
src/windows/native/CXMainWindow.cpp -text
src/windows/native/CXMainWindow.hpp -text
src/windows/native/CXMutex.cpp -text
src/windows/native/CXMutex.hpp -text
src/windows/native/CXRWLock.cpp -text
src/windows/native/CXRWLock.hpp -text
src/windows/native/CXSemaphore.cpp -text
src/windows/native/CXSemaphore.hpp -text
src/windows/native/CXThread.cpp -text
src/windows/native/CXThread.hpp -text
src/windows/native/CXWindow.cpp -text
src/windows/native/CXWindow.hpp -text
src/windows/native/CXWorkRequestThread.cpp -text
src/windows/native/CXWorkRequestThread.hpp -text
src/windows/native/Main.cpp -text
src/windows/native/TargetIncludes.cpp -text
src/windows/native/TargetIncludes.hpp -text
src/windowsmobile/common/CXBitmap.cpp -text
src/windowsmobile/common/CXBitmap.hpp -text
src/windowsmobile/common/CXDeviceContext.cpp -text
src/windowsmobile/common/CXDeviceContext.hpp -text
src/windowsmobile/common/CXExactTime.cpp -text
src/windowsmobile/common/CXExactTime.hpp -text
src/windowsmobile/common/CXGPSDClient.cpp -text
src/windowsmobile/common/CXGPSDClient.hpp -text
src/windowsmobile/common/CXMainWindow.cpp -text
src/windowsmobile/common/CXMainWindow.hpp -text
src/windowsmobile/common/CXMutex.cpp -text
src/windowsmobile/common/CXMutex.hpp -text
src/windowsmobile/common/CXRWLock.cpp -text
src/windowsmobile/common/CXRWLock.hpp -text
src/windowsmobile/common/CXSemaphore.cpp -text
src/windowsmobile/common/CXSemaphore.hpp -text
src/windowsmobile/common/CXSerial.cpp -text
src/windowsmobile/common/CXSerial.hpp -text
src/windowsmobile/common/CXThread.cpp -text
src/windowsmobile/common/CXThread.hpp -text
src/windowsmobile/common/CXWindow.cpp -text
src/windowsmobile/common/CXWindow.hpp -text
src/windowsmobile/common/CXWorkRequestThread.cpp -text
src/windowsmobile/common/CXWorkRequestThread.hpp -text
src/windowsmobile/common/Main.cpp -text
src/windowsmobile/common/OSSpecific.cpp -text
src/windowsmobile/common/OSSpecific.hpp -text
src/windowsmobile/common/TargetIncludes.cpp -text
src/windowsmobile/common/TargetIncludes.hpp -text
