* text=auto !eol
/CHANGELOG.TXT -text
/LICENSE.TXT -text
Qt/KDevelop/NaviPOWM.pro -text
Qt/KDevelop/doxygen/NaviPOWM.dox -text
Qt/KDevelop/src/CXSerial.cpp -text
Qt/KDevelop/src/CXSerial.hpp -text
Qt/KDevelop/src/OSSpecific.cpp -text
Qt/KDevelop/src/OSSpecific.hpp -text
Qt/MinGW/NaviPOWM.mdsp -text
Qt/MinGW/NaviPOWM.rc -text
Qt/MinGW/doxygen/NaviPOWM.dox -text
Qt/MinGW/src/CXSerial.cpp -text
Qt/MinGW/src/CXSerial.hpp -text
Qt/MinGW/src/OSSpecific.cpp -text
Qt/MinGW/src/OSSpecific.hpp -text
Qt/src/CXBitmap.cpp -text
Qt/src/CXBitmap.hpp -text
Qt/src/CXDeviceContext.cpp -text
Qt/src/CXDeviceContext.hpp -text
Qt/src/CXExactTime.cpp -text
Qt/src/CXExactTime.hpp -text
Qt/src/CXMainWindow.cpp -text
Qt/src/CXMainWindow.hpp -text
Qt/src/CXMutex.cpp -text
Qt/src/CXMutex.hpp -text
Qt/src/CXRWLock.cpp -text
Qt/src/CXRWLock.hpp -text
Qt/src/CXSemaphore.cpp -text
Qt/src/CXSemaphore.hpp -text
Qt/src/CXThread.cpp -text
Qt/src/CXThread.hpp -text
Qt/src/CXWindow.cpp -text
Qt/src/CXWindow.hpp -text
Qt/src/CXWorkRequestThread.cpp -text
Qt/src/CXWorkRequestThread.hpp -text
Qt/src/Main.cpp -text
Qt/src/TargetIncludes.cpp -text
Qt/src/TargetIncludes.hpp -text
/README.TXT -text
Windows/Install/NaviPOWM.nsi -text
Windows/Install/README.TXT -text
Windows/MinGW/NaviPOWM.mdsp -text
Windows/MinGW/NaviPOWM.rc -text
Windows/MinGW/resource.h -text
Windows/VisualStudio6/NaviPOWM.dsp -text
Windows/VisualStudio6/NaviPOWM.dsw -text
Windows/VisualStudio6/NaviPOWM.rc -text
Windows/VisualStudio6/resource.h -text
Windows/doxygen/NaviPOWM.dox -text
Windows/src/CXBitmap.cpp -text
Windows/src/CXBitmap.hpp -text
Windows/src/CXDeviceContext.cpp -text
Windows/src/CXDeviceContext.hpp -text
Windows/src/CXExactTime.cpp -text
Windows/src/CXExactTime.hpp -text
Windows/src/CXMainWindow.cpp -text
Windows/src/CXMainWindow.hpp -text
Windows/src/CXMutex.cpp -text
Windows/src/CXMutex.hpp -text
Windows/src/CXRWLock.cpp -text
Windows/src/CXRWLock.hpp -text
Windows/src/CXSemaphore.cpp -text
Windows/src/CXSemaphore.hpp -text
Windows/src/CXSerial.cpp -text
Windows/src/CXSerial.hpp -text
Windows/src/CXThread.cpp -text
Windows/src/CXThread.hpp -text
Windows/src/CXWindow.cpp -text
Windows/src/CXWindow.hpp -text
Windows/src/CXWorkRequestThread.cpp -text
Windows/src/CXWorkRequestThread.hpp -text
Windows/src/Main.cpp -text
Windows/src/OSSpecific.cpp -text
Windows/src/OSSpecific.hpp -text
Windows/src/TargetIncludes.cpp -text
Windows/src/TargetIncludes.hpp -text
WindowsMobile/Install/DELETEME.TXT -text
WindowsMobile/Install/InstReadMe.txt -text
WindowsMobile/Install/NaviPOWM.inf -text
WindowsMobile/Install/NaviPOWM.ini -text
WindowsMobile/Install/README.TXT -text
WindowsMobile/Install/makeWM2003SE.bat -text
WindowsMobile/Install/makeWM5.bat -text
WindowsMobile/Install/updateWM2003SE.bat -text
WindowsMobile/Install/updateWM5.bat -text
WindowsMobile/WM2003SE/eVC4/NaviPOWM.rc -text
WindowsMobile/WM2003SE/eVC4/NaviPOWM.vcp -text
WindowsMobile/WM2003SE/eVC4/NaviPOWM.vcw -text
WindowsMobile/WM2003SE/eVC4/resource.h -text
WindowsMobile/WM5/eVC4/NaviPOWM.rc -text
WindowsMobile/WM5/eVC4/NaviPOWM.vcp -text
WindowsMobile/WM5/eVC4/NaviPOWM.vcw -text
WindowsMobile/WM5/eVC4/resource.h -text
WindowsMobile/doxygen/NaviPOWM.dox -text
WindowsMobile/src/CXBitmap.cpp -text
WindowsMobile/src/CXBitmap.hpp -text
WindowsMobile/src/CXDeviceContext.cpp -text
WindowsMobile/src/CXDeviceContext.hpp -text
WindowsMobile/src/CXExactTime.cpp -text
WindowsMobile/src/CXExactTime.hpp -text
WindowsMobile/src/CXMainWindow.cpp -text
WindowsMobile/src/CXMainWindow.hpp -text
WindowsMobile/src/CXMutex.cpp -text
WindowsMobile/src/CXMutex.hpp -text
WindowsMobile/src/CXRWLock.cpp -text
WindowsMobile/src/CXRWLock.hpp -text
WindowsMobile/src/CXSemaphore.cpp -text
WindowsMobile/src/CXSemaphore.hpp -text
WindowsMobile/src/CXSerial.cpp -text
WindowsMobile/src/CXSerial.hpp -text
WindowsMobile/src/CXThread.cpp -text
WindowsMobile/src/CXThread.hpp -text
WindowsMobile/src/CXWindow.cpp -text
WindowsMobile/src/CXWindow.hpp -text
WindowsMobile/src/CXWorkRequestThread.cpp -text
WindowsMobile/src/CXWorkRequestThread.hpp -text
WindowsMobile/src/Main.cpp -text
WindowsMobile/src/OSSpecific.cpp -text
WindowsMobile/src/OSSpecific.hpp -text
WindowsMobile/src/TargetIncludes.cpp -text
WindowsMobile/src/TargetIncludes.hpp -text
common/Config/navipowm.ini -text
common/Demo/E007N50.map -text
common/Demo/demo01.txt -text
common/Images/Icons20x20.xcf -text
common/Images/MainIcon.ico -text
common/Images/NaviPOWM.xcf -text
common/Images/Zoom.xcf -text
common/Images/currentpos.bmp -text
common/Images/info.bmp -text
common/Images/logo.bmp -text
common/Images/logosmall.bmp -text
common/Images/minimize.bmp -text
common/Images/move.bmp -text
common/Images/places.bmp -text
common/Images/places.xcf -text
common/Images/poi.xcf -text
common/Images/poi00.bmp -text
common/Images/quit.bmp -text
common/Images/saveoff.bmp -text
common/Images/saveon.bmp -text
common/Images/zoomin.bmp -text
common/Images/zoomout.bmp -text
common/src/CXArray.hpp -text
common/src/CXBuffer.hpp -text
common/src/CXCache.hpp -text
common/src/CXCoor.cpp -text
common/src/CXCoor.hpp -text
common/src/CXDebugInfo.cpp -text
common/src/CXDebugInfo.hpp -text
common/src/CXFile.cpp -text
common/src/CXFile.hpp -text
common/src/CXFileIni.cpp -text
common/src/CXFileIni.hpp -text
common/src/CXGPSRecvThread.cpp -text
common/src/CXGPSRecvThread.hpp -text
common/src/CXHysterezis.hpp -text
common/src/CXInfoBar.cpp -text
common/src/CXInfoBar.hpp -text
common/src/CXInfoBarBottom.cpp -text
common/src/CXInfoBarBottom.hpp -text
common/src/CXInfoBarCommon.cpp -text
common/src/CXInfoBarCommon.hpp -text
common/src/CXInfoBarSpeed.cpp -text
common/src/CXInfoBarSpeed.hpp -text
common/src/CXInfoBarTop.cpp -text
common/src/CXInfoBarTop.hpp -text
common/src/CXKeyVal.hpp -text
common/src/CXLocatorThread.cpp -text
common/src/CXLocatorThread.hpp -text
common/src/CXLoopThread.cpp -text
common/src/CXLoopThread.hpp -text
common/src/CXMapContainer.cpp -text
common/src/CXMapContainer.hpp -text
common/src/CXMapHashSimple.hpp -text
common/src/CXMapLoaderThread.cpp -text
common/src/CXMapLoaderThread.hpp -text
common/src/CXMapMovingDetails.cpp -text
common/src/CXMapMovingDetails.hpp -text
common/src/CXMapPainter.cpp -text
common/src/CXMapPainter.hpp -text
common/src/CXMapPainter2D.cpp -text
common/src/CXMapPainter2D.hpp -text
common/src/CXMapPainterDoubleBuffered.cpp -text
common/src/CXMapPainterDoubleBuffered.hpp -text
common/src/CXMapPainterTest.cpp -text
common/src/CXMapPainterTest.hpp -text
common/src/CXMapPainterThread.cpp -text
common/src/CXMapPainterThread.hpp -text
common/src/CXMapSection.cpp -text
common/src/CXMapSection.hpp -text
common/src/CXMapSimple.hpp -text
common/src/CXMapSort.hpp -text
common/src/CXMutexLocker.cpp -text
common/src/CXMutexLocker.hpp -text
common/src/CXNMEA.cpp -text
common/src/CXNMEA.hpp -text
common/src/CXNaviData.cpp -text
common/src/CXNaviData.hpp -text
common/src/CXNaviPOWM.cpp -text
common/src/CXNaviPOWM.hpp -text
common/src/CXNode.cpp -text
common/src/CXNode.hpp -text
common/src/CXOptions.cpp -text
common/src/CXOptions.hpp -text
common/src/CXPOWMMap.cpp -text
common/src/CXPOWMMap.hpp -text
common/src/CXPen.cpp -text
common/src/CXPen.hpp -text
common/src/CXPenHolder.cpp -text
common/src/CXPenHolder.hpp -text
common/src/CXRGB.cpp -text
common/src/CXRGB.hpp -text
common/src/CXReadLocker.cpp -text
common/src/CXReadLocker.hpp -text
common/src/CXRect.hpp -text
common/src/CXSatelliteData.cpp -text
common/src/CXSatelliteData.hpp -text
common/src/CXSmartPtr.hpp -text
common/src/CXSpeedCalculator.cpp -text
common/src/CXSpeedCalculator.hpp -text
common/src/CXStringASCII.cpp -text
common/src/CXStringASCII.hpp -text
common/src/CXStringUTF8.cpp -text
common/src/CXStringUTF8.hpp -text
common/src/CXTimeStampData.hpp -text
common/src/CXTrackLog.cpp -text
common/src/CXTrackLog.hpp -text
common/src/CXTransformationMatrix.cpp -text
common/src/CXTransformationMatrix.hpp -text
common/src/CXUTCTime.cpp -text
common/src/CXUTCTime.hpp -text
common/src/CXUTMCoor.cpp -text
common/src/CXUTMCoor.hpp -text
common/src/CXUTMSpeed.cpp -text
common/src/CXUTMSpeed.hpp -text
common/src/CXWatchdogThread.cpp -text
common/src/CXWatchdogThread.hpp -text
common/src/CXWay.cpp -text
common/src/CXWay.hpp -text
common/src/CXWriteLocker.cpp -text
common/src/CXWriteLocker.hpp -text
common/src/CoordConstants.h -text
common/src/CoordConversion.cpp -text
common/src/CoordConversion.h -text
common/src/IBitmap.cpp -text
common/src/IBitmap.hpp -text
common/src/IDeviceContext.hpp -text
common/src/IExactTime.hpp -text
common/src/IMainWindow.cpp -text
common/src/IMainWindow.hpp -text
common/src/IMutex.hpp -text
common/src/IRWLock.hpp -text
common/src/ISemaphore.cpp -text
common/src/ISemaphore.hpp -text
common/src/ISerial.cpp -text
common/src/ISerial.hpp -text
common/src/IThread.cpp -text
common/src/IThread.hpp -text
common/src/IWindow.hpp -text
common/src/IWorkRequestThread.cpp -text
common/src/IWorkRequestThread.hpp -text
common/src/Utils.cpp -text
common/src/Utils.hpp -text
